:host {
  display: block;
  color: #146394;

}
.container {
  background-color:white;
  width: clamp(40px, 100%, 500px);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  z-index: 999999999;
  top: 10px;
  height: 100vh;
  font-weight:"Reem Kufi", sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
}
.logo-container img {
    max-width: 250px;
    max-height: 250px;
}

.form-container {
    padding: 10px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #bbb;
}

input[type="text"]
{
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    border: 1px solid gainsboro;
}

 button {
    padding: 10px 15px;
    border: none;
    background-color: #146394;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #737373;
}

.error {
    color: #ff7f7f;
    font-size: 14px;
    margin: -12px 0 10px;
}

.image-container {
    position: relative;
    width: 900px;
    height: 1600px;
    background-image: url('../assets/28a4641e-d3d2-4c09-b43f-d36ac9321014.jpg');
    background-size: 100% 100%;
    z-index: -1;
}

.text {
    position: absolute;
    top: 71%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    left: 0;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: wrap;
    width: 100%;
    color: white;
    font-family: "Lalezar", system-ui !important;
}

p {
    margin:0;
    padding: 0;
}
.btn-sec {
    display: flex;
    justify-content: end;
}