<div class="container">
  <div class="logo-container">
    <img src="../assets/BCare_page-0001.jpg" alt="company-logo" />
  </div>
  <div>
    لإنشاء تصميمك الخاص
    <p>1- ادخل الاسم</p>
    <p>2- اضغط على إنشاء تصميم</p>
    <p>3- اضغط على الصورة المناسبة لحفظها</p>
  </div>
  <div class="form-container">
    <input
      type="text"
      id="company-name"
      [formControl]="companyName"
      placeholder="اسمك الكامل باللغة العربية"
    />
    <div
      class="error"
      *ngIf="companyName.touched && companyName.hasError('required')"
    >
      الرجاء ملء هذا الحقل
    </div>
    <div class="btn-sec">
      <button type="submit" (click)="downloadImg()">إنشاء تصميم</button>
    </div>
  </div>
</div>

  <div class="image-container" id="aid-img">
    <div class="text">{{ companyName.value }}</div>
  </div>

